.bg-high {
    background-color: #8B0000!important;
}

.bg-medium {
    background-color: #FF8C00!important;
}


.bg-low {
    background-color: #8FBC8F!important;
}


.btn-success-task {
    background-color: #28a745!important;
}

.btn-failled-task {
    background-color: #DC143C!important;
}


.btn-in-hold-task {
    background-color: #DAA520!important;
}


.bg-success {
    background-color: #28a745!important;
}

.bg-failled {
    background-color: #DC143C!important;
}

.bg-in-hold {
    background-color: #DAA520!important;
}